.days30-p{
  font-size: 13px;
  letter-spacing: 1px;
}
.navbar-brand >img{
  margin-right: 30vw;
}
@media screen and (max-width:767px) {
  .navbar-brand >img{
   width: 18vw;

  }
  .carousel-item>img{
    height: 400px;
  }
  .icons-div i{
    font-size: x-large;
  }

}
@media screen and (max-width:992px) {
  .navbar-brand >img{
    margin-right: 0;

  }
}
@media screen and (max-width:1099px) {
  .icons-div p{
    display: none;

  }
}
.carousel-item>img{
  width: 100%;
  height: 800px;
  object-fit: cover;

}
@media screen and (max-width:768px) {
  .carousel-item>img{
    height: 600px;
  }
}
.cl-div{
  width: 99vw;
  white-space: nowrap;
  scroll-behavior: smooth;
} 
.product-card {
  display: inline-block;
  width: ;
  margin-right: 1vw;
  text-align: center;
}
.product-card img {
  width: 20vw;
  margin-bottom: 10px;
}
.product-card p{
  letter-spacing: 1px;
  font-size: 13px;
}
.cl-div::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width:1440px) {
  .product-card img {
    width: 30vw;
  } 
}
@media screen and (max-width:900px) {
  .product-card img {
    width: 40vw;
  } 
}
@media screen and (max-width:768px) {
  .product-card img {
    width: 80vw;
  } 
}