.shipping-div{
  background-color: #232323;
}
.days30-p{
  font-size: 13px;
  letter-spacing: 1px;
}
.navbar-brand >img{
  margin-right: 30vw;
}
@media screen and (max-width:767px) {
  .navbar-brand >img{
   width: 18vw;

  }
  .carousel-item>img{
    height: 400px;
  }
  .icons-div i{
    font-size: x-large;
  }

}
@media screen and (max-width:992px) {
  .navbar-brand >img{
    margin-right: 0;

  }
}
@media screen and (max-width:1099px) {
  .icons-div p{
    display: none;

  }
}
.carousel-item>img{
  width: 100%;
  height: 800px;
  object-fit: cover;

}
@media screen and (max-width:768px) {
  .carousel-item>img{
    height: 600px;
  }
}
.sec2{
  margin-bottom: 150px;
}
.cl-div{
  width: 99vw;
  white-space: nowrap;
  scroll-behavior: smooth;
} 
.product-card {
  display: inline-block;
  margin-right: 1vw;
  text-align: center;
}
.product-card img {
  width: 20vw;
  margin-bottom: 10px;
}
.product-card p{
  letter-spacing: 1px;
  font-size: 13px;
}
.cl-div::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width:1440px) {
  .product-card img {
    width: 30vw;
  } 
}
@media screen and (max-width:900px) {
  .product-card img {
    width: 40vw;
  } 
}
@media screen and (max-width:768px) {
  .product-card img {
    width: 80vw;
  } 
}
.sec3 div{
  flex: 1;
  color: #413f3f;
  font-size: 12px;
  letter-spacing: 1px;
}
.sec3>div img{
  width:100%;
}

.sec3 button{
  width: 150px;
  padding: 13px;
  border-radius: 75px;
  font-size: 13px;
  letter-spacing: 1px;
}
.sec3-det div{
  padding: 70px;
}
@media screen and (max-width:766px) {
  .sec3 {
    flex-direction: column;
  } 
  .sec3-det div{
    padding: 60px 30px;
  }
  .second-sec3{
    flex-direction: column-reverse;
  }
}